<!DOCTYPE html>
<html>
<head>
    <title>Audio to Text Conversion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h1>Audio to Text Conversion</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit" class="smt-btn"><i class="fa-solid fa-arrow-up-from-bracket"></i> Upload and Convert</button>
    </form>
    <hr>
    <div class="converted-text-container">
        <h2>Converted Text:</h2>
        <div class="cvrt-box">
        <i class="fa-regular fa-clipboard" onclick="copyToClipboard()"></i>
        <p>{{ converted_text }}</p>
    </div>
    </div>
    <footer>  <div class="container">
        <div class="row">
          <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
            <p>Developed By <a href="https://mecstech.github.io">MECS Tech Pvt Ltd</a><br>© Copyright 2023 MECS Tech Pvt Ltd. All Rights Reserved.<br><a href="https://mecstech.github.io/privacypolicy.html">Privacy Statement </a>|<a href="https://mecstech.github.io/terms.html"> Terms & Conditions</a></p>
          </div>
        </div>
      </div></footer>
    <script>
        function copyToClipboard() {
            const text = document.querySelector('.converted-text-container p').textContent;
            const tempInput = document.createElement('textarea');
            tempInput.value = text;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);
            alert('Text copied to clipboard: ' + text);
        }
    </script>
</body>
</html>
